/* SCSS for styling */
$backgorund-color: #0C2446;
$foreground-color: #fff;
$accent-color: #1993F7;
.error-container {
    text-align: center;
    padding: 50px;
    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    p {
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 15px;
        a {
            color: $accent-color;
            &:hover {
                color: $backgorund-color;
            }
        }
    }
}






