/* SCSS for styling */
$backgorund-color: #0C2446;
$foreground-color: #fff;
$accent-color: #1993F7;


header {
    background-color: $backgorund-color;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .identity{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .logo{
        width: 100px;
        height: auto;
    }
    .name {
        color: $foreground-color;
        font-size: 2.5rem;
        font-weight: bold;
    }


    .search-bar {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid $accent-color;
        margin-right: 10px; /* Add spacing between the button and input field */
    }

    .search-button {
        padding: 5px 10px;
        background-color: $accent-color;
        color: $foreground-color;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover { /* Add hover effect */
            background-color: darken($accent-color, 50%); /* Darken the background color slightly */
            color: $foreground-color /* Lighten the text color slightly */
        }
    }
    
}
