<div class="game">
    <div class="game-basic">
        <img [src]="game.mainImage" alt="Product Image" class="game-basic-img">
        <div class="game-basic-text">
            <h2>{{game.name}}</h2> <!--Getting id just to check-->
            <div class="game-basic-line">
                <p>{{game.price}}€</p>
                <p class="game-standout">{{game.languages}}</p>
            </div>
            <p class="description">{{game.description}}</p>
            <div class="game-basic-line">
                <p class="game-standout">{{game.genres}}</p>
                <app-rating [rating]="game.rating"></app-rating>
            </div>
            <div class="game-basic-line left">
                <p>Developer: {{game.developer}}</p>
                <p>Publisher: {{game.publisher}}</p>
            </div>
            <div class="game-basic-line left">
                <p>Release Date: {{game.date}}</p>
                <p>Sells: {{game.sellNumber}}</p>
            </div>
            <div class="game-basic-line">
                <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden="true">
                <button *ngIf="isAdmin()" (click)="openFileDialog()">Upload</button>
                <button (click)="download()">Download</button>
                <button id="buttonWishlist" (click)="toggleWishlist()">{{ isInWishlist ? 'Remove from Wishlist' : 'Add to Wishlist' }}</button>
            </div>
            
        </div>
    </div>
</div>    

<div class="reviews">
    <app-reviews></app-reviews>
</div>
