/* SCSS for styling */
$backgorund-color: #0C2446;
$foreground-color: #fff;
$accent-color: #1993F7;

footer {
    background-color: $backgorund-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $foreground-color;
    a {
        color: $accent-color;
        &:hover {
            color: darken($accent-color, 50%); /* Darken the background color slightly */
        }
    }
}
