@import "_colors.scss";

footer {
    background-color: $dark-blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: $white;
    a {
        color: darken($white, 25%);
        &:hover {
            color: $light-blue;
        }
    }
}
