@import "colors";
label, output, textarea{
    color: $white;
}
.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.line{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 10px;
}
#comment {
    width: 100%;
    resize: none;
    font-weight: normal;
    background-color: $dark-blue;
    &:focus {
        background-color: $white;
        color: $light-blue;
    }
}
textarea, button, p, label{
    font-size: 2em;
    padding: 10px;
    font-weight: bold;
}

textarea, button {
    border: 2px solid $white;
    border-radius: 4px;
}

#send {
    align-self: center;
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
    background-color: $white;

    &:hover {
        color: $white;
        background-color: $dark-blue;
    }
}
