<div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name</label>
        <input id="name" formControlName="name" type="text">
      </div>
      <div>
        <label for="surname">Surname</label>
        <input id="surname" formControlName="surname" type="text">
      </div>
      <div>
        <label for="username">Username</label>
        <input id="username" formControlName="username" type="text">
      </div>
      <div>
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email">
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password">
      </div>
      <div>
        <label for="rpassword">Repeat password</label>
        <input id="rpassword" formControlName="rpassword" type="password">
      </div>
      <div>
        <label for="bdate">Birthdate</label>
        <input id="bdate" formControlName="bdate" type="date" [max]="maxDate">
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <button type="button" (click)="goToLogin()">Go to login</button>
      <button type="submit" [disabled]="loading">Register</button>
    </form>
  </div>