@import "colors";

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr; // Adjust for smaller screens
  }
}

.card {
  display: flex;
  flex-direction: row; // Change to row to align image and content side by side
  border: 1px solid $dark-blue;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 100%; // Ensure cards take full height

  @media (max-width: 768px) {
    flex-direction: column; // Stack items vertically on smaller screens
  }

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .card-img {
    width: 25%; // Set image to 25% of the card's width
    height: auto;

    @media (max-width: 768px) {
      width: 100%; // Full width on smaller screens
    }
  }

  .card-content {
    width: 75%; // Set content to 75% of the card's width
    flex-grow: 1; // Allow content to grow and fill the available space
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    @media (max-width: 768px) {
      width: 100%; // Full width on smaller screens
      padding: 15px;
    }

    @media (max-width: 480px) {
      padding: 10px;
    }
  }

  .card-title {
    font-size: 1.2rem;
    margin-bottom: 5px;

    @media (max-width: 768px) {
      font-size: 1rem;
    }

    @media (max-width: 480px) {
      font-size: 0.9rem;
    }
  }

  .card-price {
    font-weight: bold;
    margin-bottom: 5px;

    @media (max-width: 768px) {
      font-size: 1rem;
    }

    @media (max-width: 480px) {
      font-size: 0.9rem;
    }
  }

  .card-description {
    margin-bottom: 10px;

    @media (max-width: 768px) {
      font-size: 0.9rem;
    }

    @media (max-width: 480px) {
      font-size: 0.8rem;
    }
  }

  .card-additional {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 480px) {
      flex-direction: column;
      gap: 10px;
    }
  }
}
