@import "colors";

header {
    display: flex;
    gap: 1rem;
    background-color: $dark-blue;
    padding: 20px;
    font-weight: bolder;
    justify-content: center;
    //justify-content: space-between;

    .identity {
        flex: 1;
        width: fit-content;
        //padding-left: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        @media (max-width: 768px) {
            padding-left: 0;
        }
    }

    .logo {
        width: 100px;
        height: auto;
    }

    .name {
        color: $white;
        font-size: 3em;
        font-weight: bold;
        @media (max-width: 768px) {
            font-size: 2em;
        }
    }

    div {
        width: 10rem; 
        margin: 0 0 0 10rem;

        @media (max-width: 768px) {
            margin: 0;
        }
    }

    form {
        display: flex;
        flex-direction: row;
        margin: 0 10rem 0 0;
        padding: 2rem 0;
        width: 10rem;
        z-index: 2;

        input {
            font-size: 1rem;
            border: 2px solid $dark-blue;
            padding: 5px;
            border-radius: 4px;
            flex:1;

            &:focus {
                background-color: rgb(230, 230, 230);
            }
        }

        button {
            width: fit-content;

            font-size: 1.2rem;
            font-weight: bold;
            padding: 0 10px;
            text-align: center;
            border: 2px solid $dark-blue;
            border-radius: 4px;
            cursor: pointer;
            background-color: $lighter-blue;

            &:hover {
            color: $lighter-blue;
            background-color: $dark-blue;
            border: 2px solid $lighter-blue;
            }
        }
    }
}
