<header>
    <!-- ESTE DIV ES NECESARIO PARA QUE EL LOGO SE QUEDE EN EL CENTRO CUANDO SE MUESTRE EL BUSCADOR -->
    <div *ngIf="checkUrl()"></div> 
    <a class="identity" routerLink="/home">
        <img class="logo" [src]="logo" alt="vgamestore_logo_white">
        <h1 class="name">Vgame Store</h1>
    </a>
    <form *ngIf="checkUrl()" action="#" method="get">
        <input type="text" name="search" class="search-bar" placeholder="Search...">
        <button type="submit" class="search-button">Search</button>
    </form>
</header>