<div class="menu-container"
     (mouseenter)="toggleMenu(true)"
     (mouseleave)="toggleMenu(false)">
  <div class="menu-toggle" [class.open]="isMenuOpen">
    &equiv;
  </div>
  <div class="menu-content" [class.open]="isMenuOpen">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/new-games">New Games</a></li>
      <li><a routerLink="/library">Library</a></li>
      <li><a routerLink="/wishlist">Wishlist</a></li>
      <li><a routerLink="/user-profile">User profile</a></li>
    </ul>
  </div>
</div>
