:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-toggle {
  background-color: #3498db;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.menu-content {
  flex-grow: 1;
  background-color: #f8f9fa;
  overflow: hidden;
  //transition: width 0.3s;
  position: absolute;
  padding: 0;
  top: 38px;
  left: 0;
  width: 0;
  z-index: 9;
}

.menu-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-content li {
  padding: 5px 0;
}

.menu-content a {
  text-decoration: none;
  color: black;
  display: block;

  &:hover {
    background-color: #e2e2e2;
  }
}

.menu-content.open, .menu-toggle.open {
  width: 100%;
  padding: 10px;
}