main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 30px;
    padding: 20px;
}
.card-wrapper {
    width: 100%; /* Ensure each card takes up the full width of its column */
  }