.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    /* other styles... */
  }
  
  .card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .card-img {
    width: 100px;
    height: auto;
  }
  
  .card-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .card-price {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .card-description {
    color: #666;
    margin-bottom: 10px;
  }
  
  .card-additional {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }