@import 'colors';

:host {
  display: flex;
  flex-direction: column;
}

.app-body {
  display: flex;
  flex-grow: 1;
  height: 100%;
  position: relative;
}

app-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  position: relative;
  top: 2px;
  z-index: 1;
  min-height: 29.45rem;
}

app-header, app-footer {
  flex-shrink: 0;
}

/* app.component.scss */

.theme-toggle-button {
  position: fixed;
  bottom: 10px;  // Ajusta según tu preferencia
  right: 10px;  // Ajusta según tu preferencia
  z-index: 1000;  // Asegura que esté sobre otros elementos
  padding: 5px;  // Haz el botón pequeño
  background-color: $light-blue;  // Ajusta según tu preferencia
  color: $white;

  border: 1px solid $light-blue;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $white;  // Ajusta según tu preferencia
    color: $light-blue;
  }
}
