<div class="container" id="user-profile">
    <div class="user-data">
        <img class="user-image"  [src]="user.profilePicture" alt="profile-picture" (click)="selectImage()">
        <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
        <div class="user-text">
            <p id="user">{{user.username}}</p>
            <p id="role">{{user.role}}</p>
        </div>
    </div>
    <h2>Personal Data</h2>
    <div class="personal-data">
        <div>
            <label for="email">Email</label>
            <p id="email">{{user.email}}</p>
        </div>
            <div>
                <label for="birthday">Birthdate</label>  
                <input type="date" [value]=user.birthdate id="birthday" name="birthday"/>
            </div>
        

        <div class="personal-info">
            <div>
                <label for="firstname">First Name</label>  
                <input type="text" [value]="user.name" placeholder="First Name" id="firstname" name="firstname"/>
            </div>
            <div>
                <label for="lastname">Last Name</label>  
                <input type="text" [value]="user.surname" placeholder="Last Name" id="lastname" name="lastname"/>
            </div>
            
        </div>
        <div class="buttons">
            <button id="save" (click)="updateProfile()">Save</button>
        <button id="logout" routerLink="/login">Log out</button>
        </div>
        

    </div>
</div>