$background-color: #0C2446;
$foreground-color: #fff;
$accent-color: #1993F7;

.star-rating {
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
  
  
}

.star-rating label {
  color: darken($foreground-color, 25%);
}

.star-rating label.filled {
  color: $accent-color;
}

.number {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
