$background-color: #0C2446;
$foreground-color: #fff;
$accent-color: #1993F7;
.star-rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  label {
    font-size: 2em;
    overflow: hidden;
    text-align: center;
    align-items: center;
    color: darken($foreground-color, 15%);
    &.filled{ color: $accent-color; }
    &.half {
      position: relative;
      color: darken($foreground-color, 15%);
      &::before {
        content: '\2605';
        color: $accent-color;
        position: absolute;
        left: 0;
        width: 50%;
        overflow: hidden;
      }
    }
  }
  .number {
    color: $accent-color;
    font-size: 1.5em;
    margin-left: 10px;
  }
  
}

