@import "colors";

h2 {
  font-size: 2.5em;
  margin: 20px 0;
  color: $white;

  @media (max-width: 768px) {
    font-size: 2em;
    text-align: center;
  }

  @media (max-width: 480px) {
    font-size: 1.5em;
  }
}

.other-reviews {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  @media (max-width: 768px) {
    align-items: center;
    width: 100%;
  }
}

.reviews {
  width: 100%;
}

.add-review {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;

  @media (max-width: 768px) {
    align-items: center;
    width: 100%;
  }
}
