@import "colors";

h2 {
    font-size: 2.5em;
    margin: 20px 0;
    color: $white;
}
.other-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.add-review {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}