<div class="line">
    <div class="group">
        <textarea [rows]="7" [cols]="200" placeholder="Write your review" maxlength="4000" #comment id="comment"></textarea>
    </div>

    <div class="group">
        <div class="line margin">
            <label for="rating">Rating</label>
            <input type="range" #satisfaction id="satisfaction" name="satisfaction" min="1.0" 
            max="5.0" step="0.1" [value]="2" (input)="onRatingChange($event)"/>
            <output>{{ rating }}</output>
        </div>
        <button id="send" (click)="saveData()" class="button">Send</button>
    </div>
</div>



