<div class="line">
    <div class="group">
        <label for="comment">Opinion</label>
        <textarea [rows]="4" [cols]="200" placeholder="Write your review" id="comment"></textarea>
    </div>

    <div class="group">
        <label for="rating">Rating</label>
        <div class="line">
            <input type="range" id="satisfaction" name="satisfaction" min="1.0" max="5.0" step="0.1" [value]="rating" (input)="onRatingChange($event)"/>
            <output>{{ rating }}</output>
        </div>
        <button id="send">Send</button>
    </div>
</div>



