@import "colors";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: $dark-blue;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: thin;
    scrollbar-color: $dark-blue transparent;
}
*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: $dark-blue;
    border-radius: 4px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}