/* You can add global styles to this file, and also import other style files */
$backgorund-color: #0C2446;
$foreground-color: #fff;
$accent-color: #1993F7;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: $backgorund-color;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: thin;
    scrollbar-color: $backgorund-color transparent;
}
*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: $backgorund-color;
    border-radius: 4px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}