<div class="menu-container"
     (mouseleave)="toggleMenu(false)">
  <div class="menu-toggle" (mouseenter)="toggleMenu(true)" (click)="toggleMenu(!isMenuOpen)"[class.open]="isMenuOpen">
    &equiv;
  </div>
  <div class="menu-content" [class.open]="isMenuOpen">
    <ul>
      <li> <form action="#" method="get">
        <input type="text" name="search" class="search-bar" placeholder="Search...">
        <button type="submit" class="search-button">Search</button>
    </form></li>
      <li><a routerLink="/home" (click)="toggleMenu(false)">Home</a></li>
      <li><a routerLink="/new-games" (click)="toggleMenu(false)">New Games</a></li>
      <li><a routerLink="/library" (click)="toggleMenu(false)">Library</a></li>
      <li><a routerLink="/wishlist" (click)="toggleMenu(false)">Wishlist</a></li>
      <li><a routerLink="/user" (click)="toggleMenu(false)">User profile</a></li>
    </ul>
  </div>
</div>
