<div class="container">
    <div class="user-data">
        <img class="user-image"  [src]="user.imageUrl" alt="profile-picture" (click)="selectImage()">
        <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
        <div class="user-text">
            <input type="text" [value]="user.username" placeholder="Username"/>
            <p id="role">{{user.role}}</p>
        </div>
    </div>
    <h2>Personal Data</h2>
    <div class="personal-data">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" [value]="user.email"/>
        </div>
        <div>
            <label for="password">Password</label>
            <div class="personal-password">
                <input type="{{ hidePassword ? 'password' : 'text' }}" id="password" name="password" [value]="user.password" placeholder="Password"/>
                <button id="toggle-password" (click)="togglePassword()">{{ hidePassword ? 'Show' : 'Hide' }}</button>
            </div>
        </div>
        
        <div class="personal-info">
            <div>
                <label for="firstname">First Name</label>  
                <input type="text" [value]="user.firstName" placeholder="First Name" id="firstname" name="firstname"/>
            </div>
            <div>
                <label for="lastname">Last Name</label>  
                <input type="text" [value]="user.lastName" placeholder="Last Name" id="lastname" name="lastname"/>
            </div>
            <div>
                <label for="birthday">Birthday</label>  
                <input type="date" [value]="user.birthday" id="birthday" name="birthday"/>
            </div>
        </div>
        <div class="buttons">
            <button id="save">Save</button>
        <button id="logout">Log out</button>
        </div>
        

    </div>
</div>